.filter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
    max-width: 1024px;
    margin: 0 auto;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 3rem;
}

.filter-box{
    display: flex;
    flex-direction: column;
    border-right: 2px solid var(--text-color);
    text-align: center;
    
}
@media screen and ( min-width: 768px ) {
    .filter{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.filter-box:hover{
    cursor: pointer;
}

@media screen and ( min-width: 1024px ) {
    .filter{
        font-size: 25px;
    }
}